.aboutUs_container {
	position: relative;
	width: 400px;
}

.aboutUs_img {
	display: block;
	width: 100%;
}

.aboutUs_overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	color: #ffffff;
	font-family: 'Quicksand', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: opacity 0.25s;
}

.aboutUs_overlay-primary {
	background: hsl(205, 73%, 68%, 50%);
}

.aboutUs_overlay>* {
	transform: translateY(20px);
	transition: transform 0.25s;
}

.aboutUs_overlay:hover {
	opacity: 1;
}

.aboutUs_overlay:hover>* {
	transform: translateY(0);
}

.aboutUs_title {
	font-size: 2em;
	font-weight: bold;
}

.aboutUs_description {
	font-size: 1.25em;
	margin-top: 0.25em;
}