html,
body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    width: 100%;
}



body {
    font-family: sans-serif;
}


header {
    width: 100%;
    height: 100vh;
    background: url(/images/backgroundwolke.jpg) no-repeat 50% 50%;
    background-size: cover;
    background-attachment: fixed;
}

.content {
    width: 100%, 1080px;
    /*width: 1080px;*/
    margin: auto;
    margin: 4em auto;
    margin-bottom: 0;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
    color: #7e8daf;
    padding-left: 2em;

}

.logo {
    position: fixed;
    float: left;
    margin: 16px 36px;
    color: white;
    font-weight: bold;
    font-size: 24px;
}

.logo a {
    color: white;
    text-decoration: none;
}


nav {
    position: fixed;
    width: 100%;
    z-index: 1;
}

nav ul {
    list-style: none;
    background-color: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: white;
    padding: 0;
    text-align: center;
    margin: 0;
    transition: 1s;
}

nav.black ul {
    background: #000;
}

nav ul li {
    display: inline-block;
    padding: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

a {
    color: #FFFFFF;
    color: #437d95
}

footer {
    padding: 30px;
    background-color: #89A6FB;
    background-color: #F0F0F0;
    text-align: center;
}

p {
    width: 550px;
    text-align: justify;
    /* Blocksatz in paragraph*/
}

details>summary {
    list-style: none;

}


details>summary::marker,
/* Latest Chrome, Edge, Firefox */
details>summary::-webkit-details-marker

/* Safari */
    {
    display: none;
}

input,
select,
textarea,
button {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    /* macht felder etwas größer bei gleicher schriftgröße*/
    border-radius: 10px;
    /*abgerundete ecken*/
    border-color: #C0C0C0;
    box-sizing: border-box;
    /*https://stackoverflow.com/questions/60488779/why-is-the-size-of-select-smaller-than-input-in-html*/
}

input,
select,
textarea {
    width: 60%;
    color: #7e8daf;
    box-shadow: none;
    border-style: solid;

}

button {
    background-color: #a8a8a8;
    color: #FFFFFF;
}


.image-container {
    position: relative;
}

.image-container img {
    width: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: background-color 0.5s ease;
}

.overlay .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.image-container:hover .overlay {
    background-color: transparent;
}

.aboutUs_text {
    padding: 0px 0px 20px 0px;
    font-size: 15px;
}

.aboutUs_container {
    position: relative;
    width: 400px;
    overflow: hidden;
}

.aboutUs_img {
    display: block;
    width: 100%;
    float: initial;
    flex-basis: 40%
}

.aboutUs_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.aboutUs_overlay-primary {
    background: hsla(205, 82%, 72%, 0.5);
}

.aboutUs_overlay>* {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.aboutUs_overlay:hover {
    opacity: 1;
}

.aboutUs_overlay:hover>* {
    transform: translateY(0);
}

.aboutUs_title {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

.aboutUs_description {
    font-size: 1.25em;
    margin-top: 0.25em;
    text-align: center;
}