<script src="components/navbar/sessionActionButton.js" defer></script>
<script src="components/loginModal/loginModal.js" defer></script>
<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
    <a href="/Frontend/index.html" class="navbar-brand mb-0 h1 ps-3">
        CLOUD-IA
    </a>
    <button type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" class="navbar-toggler login-button"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ps-3 d-flex col">
            <li class="nav-item active">
                <a href="./index.html" class="nav-link active home-logo">
                    HOME
                </a>
            </li>
            <li class="nav-item active">
                <a href="./produkte.html" class="nav-link">
                    PRODUCTS
                </a>
            </li>
            <li class="nav-item active">
                <a href="./aboutUs.html" class="nav-link">
                    ABOUT-US
                </a>
            </li>
            <li class="nav-item active">
                <a href="gallery.html" class="nav-link">
                    GALLERY
                </a>
            </li>
            <li class="nav-item active">
                <a href="./impressum.html" class="nav-link">
                    IMPRESSUM
                </a>
            </li>
            <li class="nav-item active">
                <a href="./faq.html" class="nav-link">
                    HELP
                </a>
            </li>
            <!-- Button to trigger the cart modal -->
            <div class="test d-flex flex-row-reverse">

                <li class="nav-item active ms-0 ms-md-auto">
                    <div id="sessionActionButton"></div>
                </li>
        </ul>
    </div>
</nav>