<footer class="mt-5">
    <div class="row">
        <div class="col-lg-4 col-sm-12">
            <ul>
                <li>
                    <p>LINKS</p>
                </li>
                <li>
                    <a href="./index.html">Home</a>
                </li>
                <li>
                    <a href="">Services</a>
                </li>
                <li>
                    <a href="./aboutUs.html">About Us</a>
                </li>
                <li>
                    <a href="">Gallery</a>
                </li>
                <li>
                    <a href="./impressum.html">Impressum</a>
                </li>
                <li>
                    <a href="./faq.html">Help</a>
                </li>
            </ul>
        </div>
        <div class="col-lg-4 col-sm-12">
            <ul>
                <li>
                    <p>RECHTLICHES</p>
                </li>
                <li>
                    <a href="./index.html">placeholder</a>
                </li>
                <li>
                    <a href="">placeholder</a>
                </li>
                <li>
                    <a href="">placeholder</a>
                </li>
            </ul>
        </div>
        <div class="col-lg-4 col-sm-12 social-media-bar">
            <div>
                <p>SOCIAL MEDIA</p>
            </div>
            <div class="favicons">
                <a href="https://www.facebook.com/"><img src="./images/favicons/facebook-50x50.png" width="25px"
                        alt="favicon of the facebook logo"></a>
                <a href="https://twitter.com"><img src="./images/favicons/twitter-50x50.png" width="25px"
                        alt="favicon of the twitter logo"></a>
                <a href="https://www.instagram.com/"><img src="./images/favicons/instagram-50x50.png" width="25px"
                        alt="favicon of the instagram logo"></a>
                <a href="https://www.tiktok.com/"><img src="./images/favicons/tiktok-50x50.png" width="25px"
                        alt="favicon of the tiktok logo"></a>
            </div>
        </div>
    </div>
</footer>


<!--
    wie hast du diesen hover effekt nochtmals gemachts bei den icons?
    in css
    formatiert mit klasse favicons

    siehe footer img:hover > hier wird favicon größer von 25px auf 28 px, 
    animation: alternate reverse: langsam kleiner werden lassen und nicht zurück spicken

-->