<script src="components/cartModal/cartModalExecution.js" defer></script>
<div class="modal fade" id="openCartModalButton" tabindex="-1" aria-labelledby="#openCartModalButtonLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header border-bottom-0">
                <h5 class="modal-title" id="openCartModalButtonLabel">Your Shopping Cart</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-image">
                    <thead>
                        <tr>
                            <th scope="col">Bild</th>
                            <th scope="col">Produkt</th>
                            <th scope="col">Preis</th>
                            <th scope="col">Menge</th>
                            <th scope="col">Aktion</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="cart-row">
                            <td class="w-25">
                                <img src="./images/products/CharmingClaude.jpg" class="img-fluid img-thumbnail"
                                    alt="Sheep">
                            </td>
                            <td>Charming Claude</td>
                            <td class="cart-price cart-column">33.33€</td>
                            <td class="qty">
                                <input type="text" class="form-control input-quantity" id="input1" value="3">
                            </td>
                            <td>
                                <button class="btn btn-danger btn-sm remove-item text-white"
                                    type="button">Entfernen</button>
                                <i class="fa fa-times"></i>
                            </td>
                        </tr>
                        <tr class="cart-row">
                            <td class="w-25">
                                <img src="./images/products/DropletDamian.jpg" class="img-fluid img-thumbnail"
                                    alt="Sheep">
                            </td>
                            <td>Droplet Damian</td>
                            <td class="cart-price cart-column">10€</td>
                            <td class="qty">
                                <input type="text" class="form-control input-quantity" id="input2" value="1">
                            </td>
                            <td>
                                <button class="btn btn-danger btn-sm remove-item text-white"
                                    type="button">Entfernen</button>
                                <i class="fa fa-times"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="d-flex justify-content-end">
                    <h5>Total: <span class="price text-success" id="cart-total">0.00€</span></h5>
                </div>
            </div>