<script src="components/cartModal/cartModalExecution.js" defer></script>
<div class="modal fade" id="cartModal" tabindex="-1" aria-labelledby="cartModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="cartModalLabel">Warenkorb</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <table class="table table-image">
                <thead>
                    <tr>
                        <th scope="col">Produkt</th>
                        <th scope="col">Preis</th>
                        <th scope="col">Menge</th>
                        <th scope="col">Aktion</th>
                    </tr>
                </thead>
                <tbody id="cartBodyContainer">
                </tbody>
            </table>
            <div class="d-flex justify-content-end" id="cartTotalContainer">
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
</div>