<!--Modal Login Pop Up-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Login</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST">
                    <label for="text">Username</label>
                    <br>
                    <input type="text" name="usernameLogin" id="usernameLogin">
                    <br>
                    <label for="password">Passwort</label>
                    <br>
                    <input type="password" name="passwordLogin" id="passwordLogin">
                    <br>
                    <a href="./kundenregistrierung.html">Neu hier?</a>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Absenden</button>
            </div>
        </div>
    </div>
</div>