<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Login</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="loginForm" onsubmit="login(this, event)">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <label class="form-label" for="text">Username</label>
                            <input class="form-control" type="text" name="usernameLogin" id="usernameLogin">        
                        </div>
                        <div class="col-12 my-2">
                            <label class="form-label" for="password">Passwort</label>
                            <input class="form-control" type="password" name="passwordLogin" id="passwordLogin">
                        </div>
                        <div class="col-12 mt-2">
                            <a href="./kundenregistrierung.html">Neu hier?</a>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" >
                    <div class="row">
                        <div class="col-12">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Absenden</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>